.content_login input {
  line-height: 32px !important;
}
.name .mui-icon-clear {
  margin-top: -1px !important;
}
.pwd .mui-icon-clear {
  margin-top: 11px !important;
}
.rtn-text {
  top: 32px;
}
.unlogin button {
  line-height: 37px;
}
.box span:first-child,
.header > span:last-child,
#checkCode,
#pwd,
#aftpwd {
  position: relative;
  top: 2px;
}
#btnSendCode {
  padding: 15px 13px 13px 11px;
}
.slt-lt,
.slt-rt,
.slt-ct {
  line-height: 26px;
}
.header > div {
  top: 32px;
}
.log {
  line-height: 185% !important;
}
.info h4 {
  background-position: 0 40%;
  line-height: 150%;
}
.info h3 {
  background-position: 0 40%;
}
.cont-threat .active {
  background-position: 15px 15px;
}
.x {
  line-height: 18px;
}
.cancel {
  top: 49px;
}
.search {
  line-height: 33px;
}
.leak h1,
.leak h2,
.leak > p {
  padding: 8px 3% 4px 0;
}
.addr {
  background-position: 3% 13px !important;
  line-height: 42px !important;
}
.threat p .check {
  top: 2px;
}
.time {
  padding: 8px 15px 6px 0;
}
.leak .chart1 {
  top: 260px;
  height: calc(100% - 305px);
}
.cross-info .task span:first-child {
  margin-top: 15px;
}
.tot {
  margin-top: 0;
}
.cancel-andriod {
  top: 42px !important;
}
